body {
    background-color:#ecffbf ;
    padding-top:70px ;
}
.jumbotron{
    color: #2c3e50;
    background-color: #ecf0f1;
    display: flow root;
    margin-bottom: 19 px;
}
h1 {
    text-align: center;
    font-family: cursive;
    font-style: italic;
    font-size: xxx-large;
    font-weight: 700;
    color: #0f0f88;
    padding-top: 7px;
}
p {    
    font-family: cursive;
    font-size: unset;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
    padding-bottom: 10px;
}
.button {
    transition-duration: 0.3s;
    background-color: #f4ffd9;
    padding: 3px 29px;
    border-left: 2px solid #ffd381;
    border-bottom: 2px solid #ffd381;
    border-top: 2px solid #ffd381;
    border-right: 0px;
    border-radius: 9%;
    font-size: 95%;
    font-family: Cambria;
    float: right;
    cursor: not-allowed;
}
.button:hover {
    background-color: #ffd381;
    color:rgb(163, 163, 163);

.navbar-inverse{
    color: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand{
    color: white;
}
