body {
    background-color:#ecffbf ;
}
h1 {
    text-align: center;
    font-family: Algerian;
    color: #0f0f88;
}
p {
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-inline-end: 50px;
}
.button {
    transition-duration: 0.3s;
    background-color: #f4ffd9;
    padding: 3px 29px;
    border-left: 2px solid #ffd381;
    border-bottom: 2px solid #ffd381;
    border-top: 2px solid #ffd381;
    border-right: 0px;
    border-radius: 9%;
    font-size: 95%;
    font-family: Cambria;
    float: right;
    cursor: not-allowed;
}
.button:hover {
    background-color: #ffd381;
    color:rgb(163, 163, 163);
}